// @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@import '~katex/dist/katex.css';

:root {
  --text-primary: #323232;
  --text-secondary: #646464;
  --google-btn:#C53434;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
